{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content%}
<div id="page-title" class="title text"><legend><h2>Recommend me recipes</h2></legend></div>
<div id="recipe-form" class="form">
    <form method="POST" id="recommender-form">
        <fieldset>
        {{ form.hidden_tag() }}
        <div>
            {{form.ingredients.label}}
            <br>
            {{form.ingredients()}}
        </div>
        <div id="max-time-field" class="form-field number-field">
            {{form.max_time.label}}
            <br>
            {{form.max_time()}}
        </div>
        <div id="sort-mode-field" class="form-field select-field">
            {{form.sort_mode.label}}
            <br>
            {{form.sort_mode()}}
        </div>
        <br>
        <div id="form-submit-button" class=" form-field form-button">
            {{form.submit()}}
        </div>
    </fieldset>
    </form>
</div>
{% endblock%}