{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content%}
<div id="page-title" class="title text"><legend><h2>Profile</h2></legend></div>
<div id="user name"><h2>{{user.first_name}} {{user.last_name}}</h2></div>
<br>
<div id="logout-button" class="button">
    <a href='{{url_for("logout")}}'>
        <button>
            Logout
        </button>
    </a>
</div>
<div id="saved-recipes">
    <h3>Saved recipes</h3>
    {% for recipe in recipes %}
    <div class="saved-recipe" id="recipe-{{ loop.index }}" style="border: solid black">
        <a href="{{ recipe.url }}">
            <div class="recipe-title">
                <h3>{{ recipe.title }}</h3>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock%}