{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content%}
<div id="page-title" class="title text"><legend><h2>Profile</h2></legend></div>
<div id="user name"><h2>{{user.first_name}} {{user.last_name}}</h2></div>
<br>
<div id="logout-button" class="button">
    <a href='{{url_for("logout")}}'>
        <button>
            Logout
        </button>
    </a>
</div>
<br>
<div id="profile-options">
    <div id="change-email-form-container" class="form">
        <form method="POST" id="change-email-form">
            <fieldset>
                <h3>Change email</h3>
                {{ change_email_form.hidden_tag() }}
                <div id="current-email-field" class="form-field email-field">
                    {{change_email_form.current_email.label}}
                    <br>
                    {{change_email_form.current_email()}}
                </div>
                <div id="new-email-field" class="form-field email-field">
                    {{change_email_form.new_email.label}}
                    <br>
                    {{change_email_form.new_email()}}
                </div>
                <div id="change-email-password-field" class="form-field password-field">
                    {{change_email_form.password.label}}
                    <br>
                    {{change_email_form.password()}}
                </div>
                <br>
                <div id="change-email-submit-button" class="form-field form-button">
                    {{change_email_form.submit()}}
                </div>
            </fieldset>
        </form>
        {% with alerts = get_flashed_messages(with_categories=true) %}
        {% if alerts %}
            <div id="alerts">
                <ul>
                    {% for type, content in alerts %}
                        {% if type=="form" or type=="info"%}
                            <li>
                                {{ content }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    </div>
</div>
<div id="saved-recipes">
    <h3>Saved recipes</h3>
    {% for recipe in recipes %}
    <div class="saved-recipe" id="recipe-{{ loop.index }}" style="border: solid black">
        <a href="{{ recipe.url }}">
            <div class="recipe-title">
                <h3>{{ recipe.title }}</h3>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock%}